<!DOCTYPE html>
<html>
<head>
  <title>SlidingTax</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container_16">
    <div class="top">
      <div class="grid_1">&nbsp;</div>
      <div class="grid_13">
        <div class="logo"><%= link_to "SlidingTax", "/", :class => "no_underline" %></div>
      </div>
      <div class="grid_2 about">
        <%= link_to "About", "/about", :class => "no_underline" %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="grid_16">
      <%= yield %>
    </div>
    <div class="clear"></div>
    <div class="grid_16">
      
    </div>
    <div class="clear"></div>
  </div>
</body>
</html>
